<h1>Landscape Gardening Pty Ltd</h1>

<ul>
	<li> Company name: <em>Landscape Gardening Pty Ltd </em></li>
	<li> Good/Service Provided: <em> <%= params['service'] %> </em></li>
	<li> Cost: $<em> <%= params['cost'] %> </em></li>
	<li> <strong> Thank you! </strong></li>
</ul>
