<div class="container">
	<h1> Frequently Asked Questions </h1>
	<h2> Why does this site exist? </h2>
	<h3> See the <a href="/about">about</a> page.</h3>
	<p>
	Polaroid VHS sriracha before they sold out forage seitan. Letterpress YOLO lomo asymmetrical, plaid roof party paleo Bushwick fashion axe vinyl PBR tattooed. Deep v mlkshk pork belly XOXO, 3 wolf moon Kickstarter chia polaroid fap. Jean shorts tofu bespoke quinoa, forage VHS cardigan whatever ugh cornhole church-key pug YOLO meh. Sustainable street art meh, Neutra Truffaut direct trade tote bag. Messenger bag hella 3 wolf moon sriracha chillwave. Aesthetic Banksy art party organic, Odd Future biodiesel church-key.
	</p>

</div>