<div class="box overflow-hidden">
	<p> Bacon ipsum dolor sit amet venison doner pork loin drumstick boudin. Ball tip chicken hamburger jerky meatloaf ground round sausage landjaeger, ham hock fatback beef ribs pork belly. Swine fatback pastrami brisket. Fatback landjaeger meatball, drumstick sirloin salami cow leberkas. </p>

	<p> Salami swine shankle fatback. Sirloin pork loin pig, spare ribs drumstick doner boudin biltong meatball. Drumstick tri-tip chicken kielbasa meatball ball tip doner andouille turkey. Kevin pork belly shankle jowl porchetta. Chuck hamburger shoulder drumstick flank andouille. Ground round bresaola rump strip steak short loin, doner sirloin. </p>

	<p>Leberkas ball tip pork swine pig jerky salami venison ribeye tail, hamburger pork loin corned beef meatloaf. Porchetta tail pork ball tip beef ribs fatback. Cow corned beef sirloin tail capicola andouille. Shankle filet mignon pork chop hamburger. Sirloin pig bresaola meatball strip steak pastrami. Frankfurter shankle ball tip short loin. Frankfurter fatback doner, short ribs turkey ham ham hock salami bresaola jowl kielbasa. </p>

	<p> Shank tongue pork chop ham pig pork belly. Hamburger andouille venison pork belly filet mignon, sausage brisket. Shank ham tri-tip, spare ribs t-bone brisket drumstick bacon rump short loin bresaola meatball venison boudin. T-bone meatball rump pastrami, leberkas short loin shankle tongue kielbasa doner pancetta sausage ribeye andouille pork chop. Andouille ribeye venison filet mignon pork chop, turkey beef pork loin meatball. Porchetta rump shankle, tongue jerky shoulder shank tenderloin biltong pork chop pork filet mignon tri-tip fatback. </p>

	<p> Landjaeger jerky short ribs tenderloin, drumstick porchetta bresaola spare ribs boudin ribeye. Brisket biltong corned beef, swine drumstick ham hock porchetta bresaola doner pork chop pork belly filet mignon. Jowl swine ham hock meatloaf. Leberkas kevin beef jerky tenderloin drumstick pastrami pancetta jowl tri-tip short loin fatback chicken ribeye. </p>

</div


<div class="box static" > <!-- Now this rule matches both box and static classes --> 
	static 
</div>

<div class="box relative">
	relative
</div>

<div class="box absolute"> 
	absolute
</div>

<div class="box fixed">
	fixed
</div>


<div class="box absolute z-index1">
	<p>Hello 1</p>
	<p>z-index1 </p>
</div>

<div class="box absolute z-index2">
	<p>z-index2 </p>
</div>

<div class="box absolute z-index3">
	<p>z-index3 </p>
</div>

<div class="box kitty">
	<a href="http://www.hellokitty.com" target="_blank">
		<img src='http://img2.wikia.nocookie.net/__cb20140801184629/koror-blog-org/images/7/72/Cute-kitty-frog-costume.jpg'>
	</a>
</p>