<!-- Things on this page won't change!! -->
<!-- It is the consistent LAYOUT needed for all the HTML pages. -->

<html>
<head>
	<title>World's worst calculator</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body> 
	<h1> Good Times Calculator </h1>
	<!-- This is going to to be the content bit! --> 
	<%= yield  %> 	<!--# yield gets dynamic results. Gets code from somewhere else and puts it here -->
	<h2> Hello! Isn't this calculator fantastic? </h2>
</body>
</html>

